  <body class="codeclub">
    <header class="title">
      <h1 class="title">Chilicorn Code Club</h1>
      <a href="http://www.futurice.com">
        <img class="top-nav-logo" src="/static/images/futurice-favicon.png" alt="Futurice logo">
      </a>
      <div class="saved">Saved</div>
      <div class="failed">Save failed, try again.</div>
      <div class="button-container">
        <a class="button" href="#modalExercise">Exercises</a>
        <a class="button" id="prev-exercise">«</a>
        <a class="button" id="next-exercise">»</a>
        <a class="button" href="#modalHelp">Help</a>
      </div>
    </header>
    <div class="container">
      <div class="left-container">
        <div>
        <a class="button run-button" onclick="run()">Run</a>
        </div>
        <div id="editor"></div>
      </div>
      <div class="right-container">
        <div id="mycanvas"></div>
        <div class="console">
          <pre id="output"></pre>
        </div>
      </div>
    </div>
    <div id="modalExercise" class="modal">
      <div>
        <a href="#close" title="Close" class="close">X</a>
        <h2>Exercises</h2>
        <div class="exercise-container">
          {{#each examples}}
          <div class="session-header" data-key="{{key}}">{{session}}</div>
          <ul id="{{key}}" class="session-exercises">
            {{#each exercises}}
            <a href="#close"><li id="{{this.key}}" data-type="{{../type}}" data-session="{{../key}}" data-language="{{../../language}}">Exercise {{math @index}}: {{description}}</li></a>
            {{/each}}
          </ul>
          {{/each}}
        </div>
        <h2>Modules</h2>
        <div class="module-container">
          {{#each modules.modules}}
          <div class="session-header" data-key="{{key}}">{{session}}</div>
          <ul id="{{key}}" class="session-exercises">
            {{#each modules}}
            <a href="#close"><li id="{{key}}"  data-type="{{../type}}" data-session="{{../key}}">{{description}}</li></a>
            {{/each}}
          </ul>
          {{/each}}
        </div>
      </div>
    </div>

    <div id="modalHelp" class="modal">
      <div>
        <a href="#close" title="Close" class="close">X</a>
        <h2>Help</h2>
        <div class="exercise-container">
	  <ul>
	    <li><a href="/material" target="_blank">Guidance for the exercises</a></li>
	    <li><a href="https://en.wikibooks.org/wiki/Non-Programmer%27s_Tutorial_for_Python_2.6" target="_blank">Tutorial on Python programming language</a></li>
	    <li><a href="https://docs.python.org/2/library/turtle.html#turtle-methods" target="_blank">Turtle commands</a></li>
	  </ul>
	  <ul>
	    <li><a href="/">About the Chilicorn Code Club</a></li>
	    <li>Fork us on <a href="https://github.com/futurice/PythonInBrowser">Github</a></li>
	  </ul>
	</div>
      </div>
    </div>

    <script src="/static/javascripts/main.js" type="text/javascript"></script>
  </body>
